.product-details-1 {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    margin: 50px auto; 
    max-width: 1200px;
    padding: 20px;
    background-color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

.product-image {
    position: relative; 
    flex: 1; 
    padding: 10px; 
}

.product-image .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e91e63;
    color: white;
    padding: 5px 10px;
    border-radius: 5px; 
}

.product-image img {
    max-width: 100%; 
    height: auto; 
    border-radius: 5px; 
    width: 500px;
    padding: 20px auto;
}

.product-info {
    flex: 1; 
    padding-left: 20px;
}

.product-name {
    font-size: 28px;
    margin: 0; 
    color: #333; 
}

.price_sale {
    font-size: 24px; 
    color: #e91e63; 
    margin: 10px 0; 
}

.price_original {
    font-size: 18px; 
    color: #999; 
}

.discount {
    font-size: 18px; 
    color: #f39c12; 
}

#quantity-display {
    font-size: 16px; 
    padding: 0 10px;
    font-weight: bold; 
}
.button-grid {
    margin: 30px auto;
}
button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: white;
    border: 1px solid gray;
    color: #333;
}
.buy-now {
    width: 280px;
    height: 50px;
    background-color: #007BFF;
    color: white;
}
.installment {
    width: 280px;
    height: 50px;
    background-color: #007BFF;
    color: white;
}
.add-to-cart {
    margin: 5px auto;
    width: 564px;
    height: 50px;
    background-color: #007BFF;
    color: white;
}
.pay-later {
    width: 280px;
    height: 50px;
    background-color: #007BFF;
    color: white;
}
.credit {
    width: 280px;
    height: 50px;
    background-color: #007BFF;
    color: white;
}
.call-me {
    margin: 5px auto;
    width: 564px;
    height: 50px;
    background-color: #bdca03;
    color: white;
}

.product-details, .product-description, .related-products {
    max-width: 1200px; /* Thiết lập chiều rộng tối đa cho tất cả phần */
    width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng có sẵn */
}

.product-description {
    margin: 20px auto; /* Căn giữa phần mô tả */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-description h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-description p {
    font-size: 16px;
    line-height: 1.5;
}